<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary me-2">{{ book.rating }}</span>
        <ng-container *ngFor="let s of amountOfStars">⭐️</ng-container>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <!--

      ANTI-PATTERNS:

      1. Logik im Template
      2. Missachtung von Seperation of Concerns (sie macht zu viel)
      3. Book wurde mutiert (sollte immutable sein)

    -->
    <button class="btn btn-primary me-2" (click)="book.rating = book.rating - 1">-1</button>
    <button class="btn btn-primary"      (click)="book.rating = book.rating + 1">+1</button>
  </div>
</div>
